fastai==2.7.19
torch>=2.0.0
torchvision>=0.15.0
pytesseract==0.3.13
streamlit==1.45.1
opencv-python-headless==4.11.0.86
opencv-python-headless==4.8.0.74
opencv-python==4.11.0.86
pillow==11.0.0
pandas==2.2.3
numpy==2.2.6
scikit-learn==1.6.1
tesseract-ocr

